
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  background: url(image10.jpg);
}

nav {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffca28;
}

.logo a:hover {
  color: #ffca28;
}
header, main, footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-top: 40px;
  color: whitesmoke;
}

.about-section {
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}
 
.contact-section {
    padding: 100px;
}
  
form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }  
  
  main {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
    color: white;
  }
  
  .portfolio-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .Collection-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .Collection-item a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-style: italic;
  }
  
  .Collection-item img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .portfolio-section2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .portfolio-item a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-style: italic;
    color:  burlywood;
  }
  
  .portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
  }

  .portfolio-item:hover {
    transform: scale(1.05);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:black;
    color: white;
    padding: 1px;
    font-size: 1.5rem;
  }
  
  .grid-item {
    padding: 5px;
    font-size: 1.5rem;
    font-family: cursive;
  }

  .grid-item h2 {
    color:  burlywood;
  }

 .button a{
    color:  burlywood;
    padding: 20px;
 }
  
  .faq-section {
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 20px;
  }
  
  .faq-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: italic;
    color: #f4f4f4;
  }
  
  .logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }

  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  } 
  .about-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .about-image img {    
    height: 350px;
  }
    
  .address,
.business-hours {
    margin-top: 20px;
    text-align: center;
}

.social-media a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: blue;
  
}



.available-services p{
  height: 150px;
  text-align: center;
  font-style: italic;
  color:whitesmoke
}

.available-services h2{
  height: 100px;
  text-align: center;
  color:burlywood;
  font-family:dancingscript-regular,dancing script,cursive;
}

.social-media a:hover {
  color: #ff6600;
}

.social-media h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.social-media ul {
  list-style: none;
  color: white;
  text-align: center;
}

.social-media li {
  margin-bottom: 10px;
  color: white;
}

.social-media {
  margin-top: 20px;
}
  
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo {
  flex: 1;
  background-color:black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
}

.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}


.photo:hover {
  transform: scale(1.05);
}


  